VITE_APP_PUBLIC_DOMAIN=app.plurality.network
VITE_APP_PUBLIC_VERCEL_ENV=production
VITE_APP_API_BASE_URL=https://${VITE_APP_PUBLIC_DOMAIN}/api
VITE_APP_PUBLIC_STYTCH_PROJECT_ID=project-live-27c66423-22f6-4915-ad1e-0ad55a34886d
VITE_APP_PUBLIC_STYTCH_TOKEN=public-token-live-79e84aee-ccec-473d-a748-d5e0956d3db6
VITE_APP_EMAIL_TEMPLATE_ID=sign_in_to_plurality_network
VITE_APP_CERAMIC_URL=https://ceramic-orbisdb-mainnet-direct.hirenodes.io/
VITE_APP_ORBIS_NODE_URL=https://studio.useorbis.com
VITE_APP_ORBIS_ENV=did:pkh:eip155:1:0x75ae41fd57f7f0ffdfdab923cae384944764e743
VITE_APP_PLURALITY_CONTEXT=kjzl6kcym7w8yb7hqhsjcbdikv8valtk5quvnbt1xbkzdlf8snqi9flidx6t35y
VITE_APP_SMART_PROFILE_MODEL=kjzl6hvfrbw6c6sp75zgqhukrg26eyj5n85zmaeqjluhsfoqxlk8pgtvy1sz2ml
VITE_PROFILE_TYPE_MODEL=kjzl6hvfrbw6cavbybdjvudbpn7in15h7zdlk6dg5h31o9s6qsfew32ky0qty19
VITE_APP_CLIENT_ID=6919ba74-d7ef-4090-9d50-259e4e234f41
VITE_APP_OWNER_WALLET_ADDRESS=0x75Ae41fd57f7f0FFdfDAB923cAe384944764E743
VITE_APP_EAS_CONTRACT_ADDRESS=0xC2679fBD37d54388Ce493F1DB75320D236e1815e
VITE_APP_EAS_BLOCKCHAIN_RPC=https://eth-sepolia.g.alchemy.com/v2/-Wu369VGLVlWnEt3VXbHLUoJxzkJzwi7

# Keep new line at the bottom always
