.circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    /* Adjust size of circle */
    height: 375px;
    /* Adjust size of circle */
    border-radius: 50%;
    /* Make it a circle */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: url("/src/assets/images/circle.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 8px;
}

.small-circle {
    position: relative;
    /* box-shadow: 0 0 30px rgba(0, 0, 0, 1); */
    border-radius: 50%;
    background-color: #ffffff;
}

.icon {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    /* Smooth transition for scaling */
}

.icon:hover {
    transform: scale(1.2);
    /* Scale up the icon on hover */
}

.mid-icon {
    position: absolute;
    width: 50px;
    height: 50px;
}

/* @media (max-width: 769px) {
    .circle {
        width: 310px;
        height: 310px;
    }

    .icon {
        width: 45px;
        height: 45px;
    }
} */

@media (max-width: 575.98px) {
    .circle {
        width: 310px;
        height: 310px;
    }

    .icon {
        width: 45px;
        height: 45px;
    }
}