.social-wardrobe-connect {
    position: absolute;
    right: 8px;
    bottom: 8px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.social-wardrobe-connect img {
    width: 39px;
    height: 39px;
    margin-left: -12px;
    border-radius: 50%;
    cursor: pointer;
}