.header-wrapper {
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    padding: 16px;
    background-color: #EFEFEF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* z-index: 99; */
}

.iframeHeader {
    top: 65px;
    right: 290px;
}

.user-detail {
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.icon-box span {
    margin-top: 5px;
}