.header-wrapper {
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    padding: 16px;
    background-color: #EFEFEF;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* z-index: 99; */
}

.iframeHeader {
    top: 65px;
    right: 290px;
}

.user-detail {
    display: flex;
    align-items: center;
    gap: 16px;
}

.user-detail-mobile {
    display: flex;
    /* align-items: center;
    gap: 16px; */
}

.user-detail-mobile .icon-box {
    margin-top: 20px;
}

.icon-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.icon-box span {
    margin-top: 5px;
}

.mobile-header-wrapper {
    position: absolute;
    top: 23px;
    right: 2px;
}

.mobile-scores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 2px;
    gap: 3px
}

.mobile-scores img {
    margin-bottom: 3px;
    position: relative;
    margin-left: 2px;

}

.options-wrapper {
    margin: auto;
}

@media (max-width: 1280px) {
    .header-wrapper {
        right: 230px;
    }
}

@media (max-width: 835px) {
    .header-wrapper {
        display: none;
        right: 100px;
    }

    .options-wrapper {
        margin-left: 30px;
    }
}