.custom-btn {
    min-width: 392px;
    height: 20px;
    padding: 23px 0;
    border-radius: 10px;
    border: none;
    background-color: #565656;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.custom-btn:hover {
    border: none;
    color: #ffffff !important;
    background-color: #000000 !important;
}